[submodule "use-spotify-web-playback-sdk"]
	path = use-spotify-web-playback-sdk
	url = https://github.com/Leopc1977/use-spotify-web-playback-sdk.git
[submodule "use-spotify-api-sdk"]
	path = use-spotify-api-sdk
	url = git@github.com:Leopc1977/use-spotify-api-sdk.git
